@font-face {
	font-family: 'pp-sans-big-medium';
	src: url(../../assets/fonts/pp-sans-big-medium-1aa6817aa7de1385d2720e0efcb0c300.eot) format('embedded-opentype'),
	url(../../assets/fonts/pp-sans-big-medium-1aa6817aa7de1385d2720e0efcb0c300.eot) format('embedded-opentype'),
	url(../../assets/fonts/pp-sans-big-medium-cb730f482cd964153c8efc30d614208d.woff2) format('woff2'),
	url(../../assets/fonts/pp-sans-big-medium-043d4f2857dadd0eb1bc271e5ed58851.svg) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}