@font-face {
	font-family: 'pp-sans-small-medium';
	src: url(../../assets/fonts/pp-sans-small-medium-1d5bc06e0be91901c600b70ad5294b15.eot) format('embedded-opentype'),
	url(../../assets/fonts/pp-sans-small-medium-1d5bc06e0be91901c600b70ad5294b15.eot) format('embedded-opentype'),
	url(../../assets/fonts/pp-sans-small-medium-9cbfe50273832797c8e3bf3822ee1705.woff) format('woff'),
	url(../../assets/fonts/pp-sans-small-medium-5293baffa6aa44ec3ba183d7f2ac7654.svg) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}