@font-face {
	font-family: 'pp-sans-big-light';
	src: url(../../assets/fonts/pp-sans-big-light-597c5895a8c1617df88f8cb4474f17b1.eot) format('embedded-opentype'),
	url(../../assets/fonts/pp-sans-big-light-597c5895a8c1617df88f8cb4474f17b1.eot) format('embedded-opentype'),
	url(../../assets/fonts/pp-sans-big-light-bb3a6b325dc474cc151c0dfec141cb91.woff2) format('woff2'),
	url(../../assets/fonts/pp-sans-big-light-827ea6713ce46b1150a33a91138b97b7.svg) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}