@font-face {
	font-family: 'pp-sans-big-thin';
	src: url(../../assets/fonts/pp-sans-big-thin-5771a1781e272f5fed5bfc313b0951b8.eot) format('embedded-opentype'),
	url(../../assets/fonts/pp-sans-big-thin-5771a1781e272f5fed5bfc313b0951b8.eot) format('embedded-opentype'),
	url(../../assets/fonts/pp-sans-big-thin-ea90129800d6fe4ac1370101c076bff0.woff) format('woff'),
	url(../../assets/fonts/pp-sans-big-thin-d31057a710ffe59b25e1682352c46c70.svg) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}