@font-face {
	font-family: 'ppf-web';
	src: url(../../assets/fonts/ppf-web-383f79aa0204d5eba17eaa5c3e3f5e42.eot) format('embedded-opentype'),
	url(../../assets/fonts/ppf-web-383f79aa0204d5eba17eaa5c3e3f5e42.eot) format('embedded-opentype'),
	url(../../assets/fonts/ppf-web-ecf2c297fb712768d7f6848078294227.woff) format('woff'),
	url(../../assets/fonts/ppf-web-1fc99cf00d45d437cf9beaae5fd75ca0.ttf) format('truetype'),
	url(../../assets/fonts/ppf-web-796e3f315d8f2a352a4133f064130adb.svg) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}