@font-face {
	font-family: 'pp-sans-big-bold';
	src: url(../../assets/fonts/pp-sans-big-bold-e04ead363a515ee4919c922d246a058f.eot) format('embedded-opentype'),
	url(../../assets/fonts/pp-sans-big-bold-e04ead363a515ee4919c922d246a058f.eot) format('embedded-opentype'),
	url(../../assets/fonts/pp-sans-big-bold-cafab87ab4fa716361dd8c374ef9476e.woff) format('woff'),
	url(../../assets/fonts/pp-sans-big-bold-efc22e6dd89e72ff4c74a846f38b324b.svg) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}