@font-face {
	font-family: 'aemHPIcons';
	src: url(../../assets/fonts/aemHPIcons-0ced680553d03ba09f69c5705f7c8beb.eot) format('embedded-opentype'),
	url(../../assets/fonts/aemHPIcons-5ec2727588c932a1013fb950c81c2ed7.ttf) format('truetype'),
	url(../../assets/fonts/aemHPIcons-0ced680553d03ba09f69c5705f7c8beb.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'aemHPIcons';
	src: url(../../assets/fonts/aemHPIcons-03b01065e7f7f10d08419ffef66ca3ce.eot) format('embedded-opentype'),
	url(../../assets/fonts/aemHPIcons-da6071c3ba562adfd53cbbe4684b42b4.ttf) format('truetype'),
	url(../../assets/fonts/aemHPIcons-03b01065e7f7f10d08419ffef66ca3ce.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'aemHPIcons';
	src: url(../../assets/fonts/aemHPIcons-9a7947555951f7d404236e76257ae662.eot) format('embedded-opentype'),
	url(../../assets/fonts/aemHPIcons-4313fdf3a338b67994fac7964f61914f.ttf) format('truetype'),
	url(../../assets/fonts/aemHPIcons-9a7947555951f7d404236e76257ae662.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'aemHPIcons';
	src: url(../../assets/fonts/aemHPIcons-e84575d0745c77ece62a1e9724ade239.eot) format('embedded-opentype'),
	url(../../assets/fonts/aemHPIcons-bca2c2b44e0eef8c30cfe7ca324ef904.ttf) format('truetype'),
	url(../../assets/fonts/aemHPIcons-e84575d0745c77ece62a1e9724ade239.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'aemHPIcons';
	src: url(../../assets/fonts/aemHPIcons-5b2dfae1f4c415a6770a04b0d0e5b335.eot) format('embedded-opentype'),
	url(../../assets/fonts/aemHPIcons-e51a1f73b7951ab84305ff27a172170b.ttf) format('truetype'),
	url(../../assets/fonts/aemHPIcons-5b2dfae1f4c415a6770a04b0d0e5b335.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'aemHPIcons';
	src: url(../../assets/fonts/aemHPIcons-1f695907598b2b6e36935d183cc61a32.eot) format('embedded-opentype'),
	url(../../assets/fonts/aemHPIcons-fcc539f0ddfeb38cb63395280da01e53.ttf) format('truetype'),
	url(../../assets/fonts/aemHPIcons-1f695907598b2b6e36935d183cc61a32.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'aemHPIcons';
	src: url(../../assets/fonts/aemHPIcons-a400af36a55dc74493c0db1c75bde51a.eot) format('embedded-opentype'),
	url(../../assets/fonts/aemHPIcons-2ff35dda833b5a3e7895ca2c98d0dc09.ttf) format('truetype'),
	url(../../assets/fonts/aemHPIcons-a400af36a55dc74493c0db1c75bde51a.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'aemHPIcons';
	src: url(../../assets/fonts/aemHPIcons-afb25c119f7e349df7d365e9372e5f33.eot) format('embedded-opentype'),
	url(../../assets/fonts/aemHPIcons-10c1d9777355daaaa80cfd4f07d8feb0.ttf) format('truetype'),
	url(../../assets/fonts/aemHPIcons-afb25c119f7e349df7d365e9372e5f33.eot) format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'aemHPIcons';
	src: url(../../assets/fonts/aemHPIcons-7d0ca44b56bc09cb1feb12bafdb89e55.eot) format('embedded-opentype'),
	url(../../assets/fonts/aemHPIcons-e9ce433dbe6ff9a3be7745b90a65aa44.woff) format('woff'),
	url(../../assets/fonts/aemHPIcons-dcbde85e2178958c9ace5972d1dc641c.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'aemHPIcons';
	src: url(../../assets/fonts/aemHPIcons-29bd59173521de1c90096191bd8d1e22.eot) format('embedded-opentype'),
	url(../../assets/fonts/aemHPIcons-ff340bb255cf375a1ef63d3d53967649.woff) format('woff'),
	url(../../assets/fonts/aemHPIcons-44b3a973242eee53f6d8f4abf22e7790.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}