@font-face {
	font-family: 'DharmaGothicE-RegularItalic';
	src: url(../../assets/fonts/DharmaGothicE-RegularItalic-1313f1b4b3fefaa7b4cd46a5b138cdd5.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-RegularItalic-1313f1b4b3fefaa7b4cd46a5b138cdd5.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-RegularItalic-0d13524550759fc9e0ec30d45400edba.woff) format('woff'),
	url(../../assets/fonts/DharmaGothicE-RegularItalic-a43bf94f724169ab84f7a3f058af38fc.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}