@font-face {
	font-family: 'DharmaGothicE-BoldItalic';
	src: url(../../assets/fonts/DharmaGothicE-BoldItalic-a1abfefd73ee8041ec3e60e5fb98c8c5.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-BoldItalic-a1abfefd73ee8041ec3e60e5fb98c8c5.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-BoldItalic-2f011b1d83f68d3c1d6e7934ec0ce45a.woff) format('woff'),
	url(../../assets/fonts/DharmaGothicE-BoldItalic-c12e0405b5f6ec2c33737368509b1672.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}