@font-face {
	font-family: 'DharmaGothicE-ExBold';
	src: url(../../assets/fonts/DharmaGothicE-ExBold-fbbd824a29206c63b80cd4133b4a2a47.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-ExBold-fbbd824a29206c63b80cd4133b4a2a47.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-ExBold-7676dff2530e40f105fed35a8f12b25a.woff) format('woff'),
	url(../../assets/fonts/DharmaGothicE-ExBold-c342018c71a8108741d717e3c781c715.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}