@font-face {
	font-family: 'DharmaGothicE-HeavyItalic';
	src: url(../../assets/fonts/DharmaGothicE-HeavyItalic-306f092a1206c48078d6c9e57b282ed4.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-HeavyItalic-306f092a1206c48078d6c9e57b282ed4.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-HeavyItalic-973896c57010b50f0cd700c9506a0729.woff) format('woff'),
	url(../../assets/fonts/DharmaGothicE-HeavyItalic-46f90546b68bc51c42576658eba941ed.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}