@font-face {
	font-family: 'DharmaGothicE-Thin';
	src: url(../../assets/fonts/DharmaGothicE-Thin-cfa3d81e62ce75128f320b5a1b938d88.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-Thin-cfa3d81e62ce75128f320b5a1b938d88.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-Thin-afe184ea022a0bbbaaa9fe993784e0be.woff) format('woff'),
	url(../../assets/fonts/DharmaGothicE-Thin-3f63fb7be8bcfe26a369ce1c6d95405c.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}