/* =============================== home page  css  starts here=========================================== */

/* email form */

/* //email form */

/* .home-slider{
    height: 607px;
    margin-top: -25px;
    overflow: hidden;
    width: 100%;
    height: 531px;
} */

