@font-face {
	font-family: 'DharmaGothicE-Bold';
	src: url(../../assets/fonts/DharmaGothicE-Bold-c7b7ff7ee3de0d9ae242a7ce06ef4053.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-Bold-c7b7ff7ee3de0d9ae242a7ce06ef4053.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-Bold-a1441258fceeb1a2c5add23a9ec78c4b.woff) format('woff'),
	url(../../assets/fonts/DharmaGothicE-Bold-1b5a70b5fc817e0c14d347e296c13556.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}