@font-face {
	font-family: 'DharmaGothicE-ExLightItalic';
	src: url(../../assets/fonts/DharmaGothicE-ExLightItalic-2b6f1280aaf101a4530c7bb92974f4fe.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-ExLightItalic-2b6f1280aaf101a4530c7bb92974f4fe.eot) format('embedded-opentype'),
	url(../../assets/fonts/DharmaGothicE-ExLightItalic-8e2ed1a88a6253c0c9a908d10a6909bd.woff) format('woff'),
	url(../../assets/fonts/DharmaGothicE-ExLightItalic-fc438fc733bbf5a787681a19dc97d005.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}