/* ********* Template CSS ********* */

/* ** Spinner ** */

/* ** Heading ** */

/* ** Button ** */

/* ** Navbar ** */

/* ** Hero Header ** */

.hero-header {
  margin-bottom: 6rem;
  padding: 10rem 0;
  /*background: url(../../../../assets/img/img/blob-top-left.png), url(../../../../assets/img/img/blob-top-right.png), url(../../../../assets/img/img/blob-bottom-left.png), url(../../../../assets/img/img/blob-bottom-right.png), url(../../../../assets/img/img/blob-center.png), url(../img/bg-bottom.png);*/
  background-position: left 0px top 0px, right 0px top 0px, left 0px bottom 0px, right 0px bottom 0px, center center, center bottom;
  background-repeat: no-repeat;
}

/* ** Section Title ** */

/* ** Feature ** */

/* ** About ** */

/* ** Fact ** */

.fact {
  margin: 6rem 0;
  background: url(../../../../assets/img/img/blob-top-left.png), url(../../../../assets/img/img/blob-top-right.png), url(../../../../assets/img/img/blob-bottom-left.png), url(../../../../assets/img/img/blob-bottom-right.png), url(../../../../assets/img/img/blob-center.png);
  background-position: left 0px top 0px, right 0px top 0px, left 0px bottom 0px, right 0px bottom 0px, center center;
  background-repeat: no-repeat;
}

/* ** Service ** */

.service-item .service-icon {
  margin: 0 auto 20px auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  background: url(../../../../assets/img/img/blob-primary.png) center center no-repeat;
  background-size: contain;
  transition: .5s;
}

.service-item:hover .service-icon {
  color: var(--dark);
  background: url(../../../../assets/img/img/blob-secondary.png) center center no-repeat;
  background-size: contain;
}

/* ** Project Portfolio ** */

/* ** Newsletter ** */

.newsletter {
  margin: 6rem 0;
  background: url(../../../../assets/img/img/blob-top-left.png), url(../../../../assets/img/img/blob-top-right.png), url(../../../../assets/img/img/blob-bottom-left.png), url(../../../../assets/img/img/blob-bottom-right.png), url(../../../../assets/img/img/blob-center.png);
  background-position: left 0px top 0px, right 0px top 0px, left 0px bottom 0px, right 0px bottom 0px, center center;
  background-repeat: no-repeat;
}

/* ** Testimonial ** */

/* ** Team ** */

/* ** Footer ** */

