@font-face {
	font-family: 'PayPalOpen-Regular';
	src: url(../../assets/fonts/PayPalOpen-Regular-d26597544a9dead154b49f252ada9425.woff2) format('woff2'),
	url(../../assets/fonts/PayPalOpen-Regular-fa2f7771ee4f24ebddee401481ee5703.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PayPalOpen-Regular';
	src: url(../../assets/fonts/PayPalOpen-Regular-d26597544a9dead154b49f252ada9425.woff2) format('woff2'),
	url(../../assets/fonts/PayPalOpen-Regular-fa2f7771ee4f24ebddee401481ee5703.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}