@font-face {
	font-family: 'PayPalOpen-Bold';
	src: url(../../assets/fonts/PayPalOpen-Bold-c58973b95c00e9e720cf4f289da77998.woff2) format('woff2'),
	url(../../assets/fonts/PayPalOpen-Bold-9c0de968260fa00458c11eb50ccdd408.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PayPalOpen-Bold';
	src: url(../../assets/fonts/PayPalOpen-Bold-c58973b95c00e9e720cf4f289da77998.woff2) format('woff2'),
	url(../../assets/fonts/PayPalOpen-Bold-9c0de968260fa00458c11eb50ccdd408.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}